<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.sky.employee.mapper.EmployeeMapper">
    <select id="pageQuery" resultType="com.sky.employee.entity.Employee">
        select * from employee
        <where>
            <if test="dto.name != null and dto.name != ''">
                and name like concat('%',#{dto.name},'%')
            </if>
        </where>
        order by create_time desc
    </select>
</mapper>